<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add OS</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm nav-red">
        <div class="container-fluid">
            <a class="navbar-brand ms-1" th:href="@{/admin/main}">
                <img th:src="@{/image/Logo.png}" alt="" width="70px">
            </a>

            <ul class="navbar-nav ms-auto w-100">
                <li class="nav-item ms-auto me-3">
                   <a data-bs-toggle="modal" th:href="@{/admin/os/add}" class="nav-link">Back</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5 p-5 rounded w-50 shadow p-4 mb-4 bg-white">
        <h1 class="text-center">Add OS</h1>
        <form class="mt-4" th:action="@{/admin/os/save}" th:object="${os}" th:method="POST" autocomplete="off">

            <input type="hidden" th:field="*{id}">

            <label for="name" class="form-label m-0 mt-2">Name:</label>
            <input type="text" placeholder="Name..." name="name" id="name" class="form-control" th:field="*{name}">
            <p class="m-0 text-danger" style="font-size: 12px;" th:if="${#fields.hasErrors('name')} th:errors=*{name}"">Error</p>

            <label for="version" class="form-label m-0 mt-2">Version:</label>
            <input type="text" placeholder="Version..." name="version" id="version" class="form-control"  th:field="*{version}">
            <p class="m-0 text-danger" style="font-size: 12px;" th:if="${#fields.hasErrors('version')} th:errors=*{version}">Error</p>

            <input type="submit" value="Add OS" class="btn btn-danger mt-3">
        </form>
    </div>
</body>

</html>